<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="JarApplication">
    <option name="JAR_PATH" value="$USER_HOME$/plugin-rq-1.20.4/paper-1.20.4-485.jar" />
    <option name="VM_PARAMETERS" value="-agentlib:jdwp=transport=dt_socket,server=n,address=computer:5005,suspend=y -Xms3096M -Xmx3096M" />
    <option name="PROGRAM_PARAMETERS" value="--nogui" />
    <option name="WORKING_DIRECTORY" value="$USER_HOME$/plugin-rq-1.20.4/" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" value="corretto-21" />
    <method v="2">
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="build" externalProjectPath="$PROJECT_DIR$" vmOptions="" scriptParameters="" />
      <option name="ToolBeforeRunTask" enabled="true" actionId="Tool_External Tools_Copy plugin" />
    </method>
  </configuration>
</component>